@import 'slide.css';

body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3/5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(255, 41, 41);
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.3px;
  /*text-shadow: -1px 0 rgba(245, 245, 245, 0.884), 0 1px rgba(253, 253, 253, 0.596);*/
}

.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
  text-transform: uppercase;
}

.members h2 {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}
.members h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: rgb(255, 41, 41);
}
.members p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}
.members-list {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.members-list li {
  cursor: pointer;
}
.members-list::-webkit-scrollbar {
  width: 18px;
}
.members-list::-webkit-scrollbar-thumb {
  background: rgb(255, 41, 41);
  border-left: 4px solid white;
  border-right: 4px solid white;
}
.members-list::-webkit-scrollbar-track {
  background: white;
}
.members-description {
  grid-column: 3;
}
.members-description section {
  margin-bottom: 3rem;
}

.profiles-list {
  grid-column: 2/4;
}
.profiles-list dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 1.70rem;
  margin-bottom: 0.8rem;
  color: rgb(66, 66, 66);;
}
.profiles-list dt::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 10px;
  margin-right: 10px;
  background: rgb(255, 41, 41);
}
.profiles-list dd {
  font-family: Helvetica, Arial;
  margin-bottom: 2rem;
  margin-left: 40px;
}
.profiles-list p {
  margin-bottom: 1rem;
}

.persona-content {
  display: flex;
  align-items: center;
}
.persona-content p {
  margin-left: 12px;
}
.persona-img {
  max-height: 280px;
}

.map {
  grid-column: 2;
}

.info {
  grid-column: 3;
}
.info li {
  margin-bottom: 1rem;
  font-family: monospace, Arial;
}
.info li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: rgb(255, 41, 41);
}
.source-poll {
  grid-column: 2/5;
}
.source-poll p {
  padding:4px;
  font-family: monospace;
  font-weight: 300;
  opacity: .4;
}
.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background:rgb(255, 41, 41);
}
.copy p {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
}
.copy a {
  text-decoration: none;
  color: #222;
}

/* Slide */
.gallery {
  grid-column: 1 / -1;
}
.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}
.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}
.slide li {
  width: 90vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rfba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}
[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.custom-controls {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.custom-controls li {
  opacity: .6;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  transition: .3s;
}
.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

/* Javascript */
.js .js-tabcontent section {
  display:none;
}
.js .js-tabcontent section.active {
  display: block !important;
  animation: slideLeft 1.2s forwards;
}

.js-accordion dd {
  display: none;
}
.js-accordion dt {
  cursor: pointer;
}
.js-accordion dt::after {
  content: '⬎';
}
.js-accordion dt.active::after {
  content: '⬏';
}
.js-accordion dd.active {
  display: block;
  animation: slideDown 1.2s forwards;
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, -30px, 0);
  transition: 1s;
}
.js .js-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


/* dropdown menu */
[data-dropdown] {
  position: relative;
}
[data-dropdown] .dropdown-menu {
  display: none;
}
[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: show-up .3s forwards;
}

.dropdown-menu {
  position:absolute;
  background:  rgb(31, 31, 31);
  z-index: 200;
  top: 38px;
  border: 2px solid black;
  white-space: nowrap;
}
.dropdown-menu li a {
  color:rgb(255, 41, 41);
}
.dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid rgb(31, 31, 31);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

}
.dropdown-menu li a:hover {
  color: white;
}
.votes {
  color: #222!important;
  opacity: .3;
  font-size: 1.3rem!important;
}

/* modal */
.modal-container {
  height: 100vh;
  width: 100%;
  background: rgb(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.active {
  display: flex;
}

.active .modal {
  animation: modal .6s forwards;
}

.modal {
  background: white;
  padding: 40px;
  border: 10px solid rgb(255, 41, 41);
  box-shadow: 0 0 0 10px white;
  position: relative;
  min-width: 300px;
}

.fechar {
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  box-shadow: 0 4px 4px 0 rgb(0,0,0, .3);
  font-size: 1.3em;
  cursor: pointer;
  background: white;
}

.modal label {
  font-family: "IBM Plex Mono", monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 .5rem 0;
}

.modal input {
  width: 100%;
  padding: .7rem .5rem;
  box-sizing: border-box;
}

.modal button[type="submit"] {
  display: block;
  background: #e54;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 1rem;
  font-weight: bold;
}

/* tooltip */
.tooltip {
  position: absolute;
  z-index: 500;
  background: rgba(0,0,0, .6);
  box-shadow: 0 0 0 2px #E54, 0 0 0 6px rgb(0,0,0,.6);
  padding: .5rem;
  color: white;
  font-family: 'IBM Plex Mono' monospace;
  font-weight: bold;
  font-size: .875rem;
  max-width: 150px;
  border-radius: 2px;
  top: 0px;

}

/* menu mobile */
[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
    background: #222;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 300;
  }

  .js [data-menu="button"]::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background: white;
    box-shadow: 0 4px white, 0 -4px white;
    margin-right: 5px;
    transition: transform .3s;
  }
  .js [data-menu="button"].active::before {
    transform: rotate(90deg);
  }
  .js #menu {
    display: none;
    position: absolute;
    background:  rgb(255, 41, 41);
    width: 160px;
    z-index: 200;
    padding:60px 0 20px 0;
    top: 0;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
  }
  .js #menu.active {
    display: block;
    animation: slideLeft .3s forwards;
  }
  .js .dropdown-menu {
    position: static;
    border: none;
  }
}

/* numeros */
.numeros-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/4;
  grid-gap: 30px;
}
.numeros-grid h3 {
  font-family: "Playfair Display SC", monospace;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.numeros-grid span {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e54;
}

/* mobile */
@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .members-list {
    grid-column: 1/3;
    height: 200px;
  }
  .profiles-list, .info, .map {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .numeros-grid h3 {
    font-size: 1.8rem;
  }
  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
  .numeros-grid {
    grid-column: 1;
  }
  .source-poll {
    grid-column: 1/3;
  }
}

/* Animations */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
