body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
body {
  color: #222;
  -webkit-font-smoothing: antialiased;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
.menu {
  grid-column: 3/5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: rgb(255, 41, 41);
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.3px;
}
.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}
.title {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
  text-transform: uppercase;
}
.members h2 {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}
.members h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: rgb(255, 41, 41);
}
.members p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}
.members-list {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.members-list li {
  cursor: pointer;
}
.members-list::-webkit-scrollbar {
  width: 18px;
}
.members-list::-webkit-scrollbar-thumb {
  background: rgb(255, 41, 41);
  border-left: 4px solid white;
  border-right: 4px solid white;
}
.members-list::-webkit-scrollbar-track {
  background: white;
}
.members-description {
  grid-column: 3;
}
.members-description section {
  margin-bottom: 3rem;
}
.profiles-list {
  grid-column: 2/4;
}
.profiles-list dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 1.70rem;
  margin-bottom: 0.8rem;
  color: rgb(66, 66, 66);;
}
.profiles-list dt::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 10px;
  margin-right: 10px;
  background: rgb(255, 41, 41);
}
.profiles-list dd {
  font-family: Helvetica, Arial;
  margin-bottom: 2rem;
  margin-left: 40px;
}
.profiles-list p {
  margin-bottom: 1rem;
}
.persona-content {
  display: flex;
  align-items: center;
}
.persona-content p {
  margin-left: 12px;
}
.persona-img {
  max-height: 280px;
}
.map {
  grid-column: 2;
}
.info {
  grid-column: 3;
}
.info li {
  margin-bottom: 1rem;
  font-family: monospace, Arial;
}
.info li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: rgb(255, 41, 41);
}
.source-poll {
  grid-column: 2/5;
}
.source-poll p {
  padding:4px;
  font-family: monospace;
  font-weight: 300;
  opacity: .4;
}
.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background:rgb(255, 41, 41);
}
.copy p {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
}
.copy a {
  text-decoration: none;
  color: #222;
}
/* Javascript */
.js .js-tabcontent section {
  display:none;
}
.js .js-tabcontent section.active {
  display: block !important;
  animation: slideLeft 1.2s forwards;
}
.js-accordion dd {
  display: none;
}
.js-accordion dt {
  cursor: pointer;
}
.js-accordion dt::after {
  content: '⬎';
}
.js-accordion dt.active::after {
  content: '⬏';
}
.js-accordion dd.active {
  display: block;
  animation: slideDown 1.2s forwards;
}
.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, -30px, 0);
  transition: 1s;
}
.js .js-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* mobile */
@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .members-list {
    grid-column: 1/3;
    height: 200px;
  }
  .profiles-list, .info, .map {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 2.5rem;
  }
  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
  .numeros-grid {
    grid-column: 1;
  }
  .source-poll {
    grid-column: 1/3;
  }
}
/* Animations */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}